.tout{
    //-fx-background-color: #2c3e50;
    -fx-font-family : "Arial";
}

.sidebar{
    -fx-background-color: #1e2a38;
    -fx-padding : 15px;
}

.search-box{
    -fx-background-color: rgba(255,255,255,0.1);
    -fx-background-radius : 5px;
    -fx-padding:8px
}

.search-field{
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width:1px;
    -fx-border-raduis: 15px;
    -fx-padding: 5px;
    -fx-text-fill: white;
}

/*fenetre de chat*/
.chat-container{
    -fx-background-color:#ecf0f1;
    -fx-padding: 15px;
}
.chat-header {
    -fx-background-color:white;
    -fx-padding: 15px;
    -fx-border-color: #ddd;
    -fx-border-with:0 0 1px 0;
}
.chat-header .name {
    -fx-font-size: 12px;
    -fx-text-fill: #7f8c8d;
}

.send{
    -fx-background-color:#2ecc71;
    -fx-text-fill: white;
    -fx-padding: 10px 15px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.input{
    -fx-background-color:   #ecf0f1;
    -fx-border-radius: 5px;
    -fx-padding: 8px;
    -fx-border-width:0;
}

.tools{
    -fx-background-color: white;
}
